@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
.photo-sure-ctner{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(74,74,74,0.80);
  padding: rpx(30) rpx(30) 0 rpx(30);
}
.sure-outer{
  height: auto;
  border-radius: $size-border-radius;
  overflow: hidden;
  background: #FFF;
}
.canvas-outer{
  background: #FFF;
  position: relative;
  @include borderBottomOnePx;
}
.sure-con{
  padding: 0 rpx(34);
  .sure-img{
    height: rpx(290);
    margin-top: rpx(30);
    background: #F0F0F0;
  }
  .sure-text{
    margin: rpx(30) 0 rpx(30) 0
  }
  .sure-btn{
    display: flex;
    padding-bottom: rpx(34);
    button{
      flex: 1;
      &:nth-of-type(1) {
        margin-right: rpx(20);
      }
    }
  }
}