@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{

}
.order-detail-ctner{
    width: 100%;
    height: 100%;
    padding: rpx(22) rpx(20);
    background: #F2F0F3;
    scroll-view{
        height: 100%;
    }
}
.order-detail-outer,
.order-goods-outer{
    background: #FFF;
    padding: rpx(20);
    border-radius: rpx(8);
}
.order-detail-outer{
    view {
        font-size: rpx(28);
        color: #060606;
        &:nth-of-type(1),
        &:nth-of-type(2){
            margin-bottom: rpx(10);
        }
        text:nth-of-type(1) {
            color: #646464;
        }
    }
}
.order-goods-outer{
    margin: rpx(20) 0 rpx(40) 0;
    .goods-con{
        .item-top{
            height: rpx(140);
            display: flex;
            font-size: rpx(28);
            margin-bottom: rpx(22);
            image{
                width: rpx(140);
                height: rpx(140);
                margin-right: rpx(30);
            }
            .item-des{
                flex: 1;
            }
            .item-des{
                display: flex;
                flex-direction:column;
                view:nth-of-type(1) {
                    flex: 1;
                    font-size: rpx(32);
                }
                view:nth-of-type(2) {
                   height: rpx(40);
                   line-height: rpx(40);
                   color: #646464;
               }
            }
        }
    }
    .bottom-wrap{
        height: rpx(52);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: rpx(28);
        text:nth-of-type(1) {
            color: #646464;
        }
        text:nth-of-type(2) {
            color: #060606;
            font-size: rpx(32);
            margin-right: rpx(40);
        }
     }
}

.order-btn-outer{
    .icx-btn-same-sure{
        background: linear-gradient(to right, #C0B09D, #80746C);
        border-radius: 100px;
    }
    .btn-wrap-1{
        margin-top: rpx(30);
        display: flex;
        justify-content: space-between;
        .icx-btn-same-cancel{
            width: 48.5%;
            border-radius: rpx(100);
            border: 1px solid #777777;
        }
    }
}
