@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
.cat-ctner{
    height: 100%;
    width: 100%;
    padding: rpx(22) rpx(20) rpx(120) rpx(20);
    background: #F2F0F3;
    position: relative;
}
.scroll{
    height: 100%;
    width: 100%;
    .cat-itme-wrap{
        margin-bottom: rpx(20);
    }
}
.cat-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    height: rpx(100);
    width: 100%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 rpx(20);
    .price-total{
        font-size: rpx(36);
        color: #796D66;
        margin-right: rpx(20);
        text:nth-of-type(2) {
            color: #FF7360;
        }
    }
    .pay-btn{
        width: rpx(300);
        height: rpx(78);
        line-height: rpx(78);
        text-align: center;
        background: #1AAD19;
        border-radius: 100px;
        color: #FFF;
    }
}

.cat-item-ctner{
    padding: rpx(30) rpx(20);
    background: #FFF;
    display: flex;
    .cat-m{
        width: rpx(140);
        height: rpx(140);
        margin: 0 rpx(30) 0 0;
        image{
            width: 100%;
            height: 100%;
        }
    }
    .cat-r{
        flex: 1;
        .goods-name{
            font-size: rpx(32);
            color: #060606;
            margin-bottom: rpx(68);
        }
        .goods-price{
            height: rpx(42);
            display: flex;
            justify-content: space-between;
            font-size: rpx(36);
            ._price{
                color: #FF7360;
            }
            ._num{
                color: #646464;
            }
        }
    }
}