@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
  padding: 0;
  background: #FFF;
}
.accredit-ctner{
  position: relative;
  height: 100%;
  width: 100%;
  .accredit-bg{
    width: 100%;
    height: rpx(950);
  }
  .ex-nor{
    position: absolute;
    left: 50%;
    bottom: rpx(176);
    width: rpx(350);
    height: rpx(158);
    transform: translateX(-50%)
  }
}